
@mixin flexbox-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin button-style {
    background-image: $gradient;
    color: white;
    border-radius: 200px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
    text-align: center;
    display:inline-block;
    font-size: 1em;
    padding: 0px 20px;
    margin: 50px 0px;
}

@mixin button-hover {
    cursor: pointer;
    transition: 0.3s;
    opacity: 0.8;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);
}

$breakpoints: (
    tablet: 768px,
    desktop: 1280px,
    large: 1600px,
);

@mixin tablet {
    @media screen and (min-width:map-get($breakpoints, tablet)){
      @content;
    }
  }
  @mixin desktop {
    @media screen and (min-width:map-get($breakpoints, desktop)){
      @content;
    }
  }
 

$font_title: 'Shrikhand';
$font_text: 'Roboto', sans-serif;
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$gradient: linear-gradient(to bottom right, $color-secondary,$color-primary);

body {
   font-family: $font_text;
   margin: 0px;
   background-color: white;
   width: auto;
}

* a {
    text-decoration: none;
    color: white;
}

header {
    z-index: 10;
    width: 100%;
    
    .header_menu {
        box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.2);
        position: relative;
        @include flexbox-center;
        width: 100%;
        height: 80px;
        background-color: white;

        .header__fleche-back {
            width: 50px;
            height: 50px;
            position: absolute;
            left: 35px;
            top: 40%;
            font-size: 20px;

            i {
                color: black;
                margin: 0px; 
            }
        }

        .header_logo {
            font-family: $font_title;
            color: black;
            margin: 0px;
        }
    }   
}

main {
    margin: 0px;
    padding: 0px;

    .img {
        width: 100%;
        height: 350px;

        .image_restau {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

section {
    @include flexbox-center();

    .menu {
        margin-top: -50px;
        padding: 0 20px;
        width: 100%;
        border-radius: 30px 30px 0 0;
        background-color: #F6F6F6;

        .menu_title {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            h2 {
                font-family: $font_title;
            }
        }
    }
}

.heart_button {
    position:relative;
    width: 30px;
    margin: 10px;

    .icon_heart {
        width: 30px;

        path {
            fill: white;
            stroke: black;
            stroke-width: 30px;
        }
        
        & :hover {
            animation: heart 0.7s linear forwards;
        }
    }
}

@keyframes heart {
    0% {
        fill: transparent;
        stroke: black;
    }

    50% {
        fill: url(#heart_color);
        
        stroke: transparent; 
    }

    100% {
        fill: url(#heart_color);
        stroke: transparent;
    }
}

.menu_blocs {
    @include flexbox-center();
    flex-direction: column;

    @include desktop {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .menu_bloc {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .menu_bloc_title {
            position: relative;

            h3 {
                text-transform: uppercase;
                font-weight:unset;
            }

            & ::after {
                content: '';
                width: 50px;
                height: 4px;
                background: #99e2d0;
                position: absolute;
                z-index: 20;
                left: 0px;
                bottom: 10px;
            }
        } 
    }
}

.oppacity_progressive {
    animation: opacity 1s both;
}

@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#box-1 {
    animation-delay: 0.1s;
}

#box-2 {
    animation-delay: 0.2s;
}

#box-3 {
    animation-delay: 0.3s;
}

#box-4 {
    animation-delay: 0.4s;
}

#box-5 {
    animation-delay: 0.5s;
}

#box-6 {
    animation-delay: 0.6s;
}

#box-7 {
    animation-delay: 0.7s;
}

#box-8 {
    animation-delay: 0.8s;
}

#box-9 {
    animation-delay: 0.9s;
}

#box-10 {
    animation-delay: 1s;
}

.menu_container {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    width: 350px;
    height: 70px;
    margin-bottom: 15px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
    

    & :hover .menu_price {
        padding-right: 70px;
        transition: 0.5s ease;
    }

    &:hover .validation_box {
        display: flex;
        justify-content: center;
        align-items: center;
        transform: rotate(360deg);
        animation: slide-left 0.5s ease;
    }

    .menu_dishes_and_prices {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .menu_dishe {
            margin: 20px;
            font-size: 1em; 
            white-space: nowrap;
            overflow: hidden;
    
            .menu_dish_title {
                font-weight: bold;
            }
        }

        p {
            text-overflow: ellipsis;
            overflow: hidden;
        }
    } 
}

.menu_price {
    font-weight: bold;
    padding-left: 7px;
    margin-right: 10px;
}

.validation_box {
    display: none;
    position: absolute;
    background: #99E2D0;
    border-radius: 0 15px 15px 0;
    right: 0px;
    padding: 0 13px;
    height: 100%;

    .cheque_box {
        font-size: 30px;
        color: white;
        transform: rotate(180deg);
        animation: box-rotate 0.5s both;
        display: flex;
        justify-content: center;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
        text-align: center;
    }

    i {
        font-size: 30px;
        color: white;
        transform: rotate(180deg);
        animation: box-rotate 0.5s both;
    }
}
  
@keyframes box-rotate {
0% {
    
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}

@keyframes slide-left { 
0% {
    
    transform: scaleX(0);
}
100% {
    
    transform: scaleX(1);
}
}

.menu_container_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .menu_button {
        @include button-style;
        width: 150px;
        height: 50px;

        &:hover {
            @include button-hover;
        }
    }
}

footer {
    width: 100%;
    background-color: #353535;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;

    .footer_bloc {
        display: inline;
        padding: 0 40px;
        width: 100%;
        max-width: 1200px;
        @include desktop() {
            margin-bottom: 30px;
        }
        
        .footer_logo {
            font-family: $font_title;
            font-size: 20px;
            padding: 15px 0; 
            color: white; 
            @include tablet() {
                text-align: center;
            }  
        }

        .footer_links {
            display: flex; 
            flex-direction: column;
            width: auto;
            @include tablet() {
                align-items: center;
            }
            @include desktop() {
                width: 100%;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }

            .footer_link {
                display: flex;
                flex-direction: row;
                align-items: center;   
                text-align: center;
                color: white;
                height: 30px;  
                
                i {
                    margin-right: 7px;
                    font-size: 0.9em;
                }
            }
        }
    }
}



