body {
  font-family: "Roboto", sans-serif;
  margin: 0px;
  background-color: white;
  width: auto;
}

* a {
  text-decoration: none;
  color: white;
}

header {
  z-index: 10;
  width: 100%;
}

header .header_menu {
  -webkit-box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 80px;
  background-color: white;
}

header .header_menu .header__fleche-back {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 35px;
  top: 40%;
  font-size: 20px;
}

header .header_menu .header__fleche-back i {
  color: black;
  margin: 0px;
}

header .header_menu .header_logo {
  font-family: "Shrikhand";
  color: black;
  margin: 0px;
}

main {
  margin: 0px;
  padding: 0px;
}

main .img {
  width: 100%;
  height: 350px;
}

main .img .image_restau {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .menu {
  margin-top: -50px;
  padding: 0 20px;
  width: 100%;
  border-radius: 30px 30px 0 0;
  background-color: #F6F6F6;
}

section .menu .menu_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section .menu .menu_title h2 {
  font-family: "Shrikhand";
}

.heart_button {
  position: relative;
  width: 30px;
  margin: 10px;
}

.heart_button .icon_heart {
  width: 30px;
}

.heart_button .icon_heart path {
  fill: white;
  stroke: black;
  stroke-width: 30px;
}

.heart_button .icon_heart :hover {
  -webkit-animation: heart 0.7s linear forwards;
          animation: heart 0.7s linear forwards;
}

@-webkit-keyframes heart {
  0% {
    fill: transparent;
    stroke: black;
  }
  50% {
    fill: url(#gradient_Color);
    stroke: transparent;
  }
  100% {
    fill: url(#gradient_Color);
    stroke: transparent;
  }
}

@keyframes heart {
  0% {
    fill: transparent;
    stroke: black;
  }
  50% {
    fill: url(#gradient_Color);
    stroke: transparent;
  }
  100% {
    fill: url(#gradient_Color);
    stroke: transparent;
  }
}

.menu_blocs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .menu_blocs {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.menu_blocs .menu_bloc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu_blocs .menu_bloc .menu_bloc_title {
  position: relative;
}

.menu_blocs .menu_bloc .menu_bloc_title h3 {
  text-transform: uppercase;
  font-weight: unset;
}

.menu_blocs .menu_bloc .menu_bloc_title ::after {
  content: '';
  width: 50px;
  height: 4px;
  background: #99e2d0;
  position: absolute;
  z-index: 20;
  left: 0px;
  bottom: 10px;
}

.oppacity_progressive {
  -webkit-animation: opacity 1s both;
          animation: opacity 1s both;
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#box-1 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

#box-2 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

#box-3 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

#box-4 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

#box-5 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

#box-6 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

#box-7 {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

#box-8 {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

#box-9 {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

#box-10 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.menu_container {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 350px;
  height: 70px;
  margin-bottom: 15px;
  background-color: white;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
}

.menu_container:hover .validation_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: right;
          transform: right;
  -webkit-animation: slide-left 0.5s ease;
          animation: slide-left 0.5s ease;
}

.menu_container .menu_dishes_and_prices {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu_container .menu_dishes_and_prices .menu_dishe {
  margin: 10px;
  font-size: 1em;
}

.menu_container .menu_dishes_and_prices .menu_dishe .menu_dish_title {
  font-weight: bold;
}

.validation_box {
  display: none;
  position: absolute;
  background: #99E2D0;
  border-radius: 0 15px 15px 0;
  right: 0px;
  padding: 0 13px;
  height: 100%;
}

.validation_box .cheque_box {
  font-size: 30px;
  color: white;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-animation: box-rotate 0.5s both;
          animation: box-rotate 0.5s both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  text-align: center;
}

.validation_box i {
  font-size: 30px;
  color: white;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-animation: box-rotate 0.5s both;
          animation: box-rotate 0.5s both;
}

@-webkit-keyframes box-rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes box-rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(-100px);
            transform: scaleX(-100px);
  }
}

@keyframes slide-left {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(-100px);
            transform: scaleX(-100px);
  }
}

.menu_container_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.menu_container_button .menu_button {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: white;
  border-radius: 200px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  text-align: center;
  display: inline-block;
  font-size: 1em;
  padding: 0px 20px;
  margin: 50px 0px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
  opacity: 1;
  width: 150px;
  height: 50px;
}

.menu_container_button .menu_button:hover {
  cursor: pointer;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  opacity: 0.8;
}

footer {
  width: 100%;
  background-color: #353535;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

footer .footer_bloc {
  display: inline;
  padding: 0 40px;
  width: 100%;
  max-width: 1200px;
}

footer .footer_bloc .footer_logo {
  font-family: "Shrikhand";
  font-size: 20px;
  padding: 15px 0;
  color: white;
}

footer .footer_bloc .footer_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: auto;
}

@media screen and (min-width: 768px) {
  footer .footer_bloc .footer_links {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

footer .footer_bloc .footer_links .footer_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: white;
  height: 30px;
}

footer .footer_bloc .footer_links .footer_link i {
  margin-right: 7px;
  font-size: 0.9em;
}
/*# sourceMappingURL=style_menu.css.map */