.footer {
    color: white;
    width: 100%;
    
    @include flexbox-center();
    background-color: #353535;

    .footer_bloc {
        padding: 0 40px;
        width: 100%;
        max-width: 1200px;
        @include tablet {
            margin-bottom: 15px;
        }
        @include desktop() {
            margin-bottom: 15px;

        }
        
        .footer_logo {
            font-family: $font_title;
            font-size: 20px;
            padding: 15px 0; 
            color: white; 
            @include tablet() {
                text-align: center;
            }  
        }

        .footer_links {
            display: flex; 
            flex-direction: column;
            width: 100%;
            @include tablet() {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                max-width: 900px;
            }
            @include desktop() {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                max-width: 900px;
            }

            .footer_link {
                display: flex;
                flex-direction: row;
                align-items: center;   
                text-align: center;
                color: white;
                height: 30px;  
                
                i {
                    margin-right: 7px;
                    font-size: 0.9em;
                }
            }
        }
    }
}
