@mixin flexbox-center {
    display: flex;
    justify-content: center;
    align-items: center;
}



$font_title: 'Shrikhand';
$font_text: 'Roboto', sans-serif;
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$gradient: linear-gradient(to bottom right, $color-secondary,$color-primary);

body {
   font-family: $font_text;
   margin: 0px;
   background-color: white;
}