$breakpoints: (
    tablet: 768px,
    desktop: 1100px,
);

$font_title: 'Shrikhand';
$font_text: 'Roboto', sans-serif;
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$gradient: linear-gradient(to bottom right, $color-secondary, $color-primary);